.output {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 26px;

  @media screen and (max-width: 767px) {
    width: 85%;
    font-size: 18px;
  }

  &__text {
    margin: 0;
    color: rgb(112, 160, 30);
    visibility: hidden;
    text-align: center;

    &_visible {
      visibility: visible;
    }
  }

  &__tooltip {
    margin: 0;
    color: rgb(78, 111, 23);
    visibility: hidden;

    &_visible {
      visibility: visible;
    }
  }

  &__counter {
    margin: 0;
    align-self: flex-end;
    padding: 20px 50px 0;
    visibility: hidden;

    &_visible {
      visibility: visible;
    }
  }
}
